{% extends 'base.html.twig' %}

{% block title %}Gestion d'ordinateur{% endblock %}



{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Gestion PC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link float-right" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container p-5">
        <input type="date">
        <button class="float-right btn btn-primary" data-toggle="modal" data-target="#add-computer"> Ajouter un ordinateur</button>
        {% block modals %}
            {% include 'computer/modal/modal.html.twig' %}
        {% endblock %}
        {{ render(controller('App\\Controller\\ComputerController::indexComputer')) }}
    </div>
{% endblock %}
