<div class="modal" id="add-customer-attribution" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attribuer utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('attribution_create') }}" method="post">
                    <label> Entrer le nom de l'utilisateur :</label>
                    <input type="text" name="lastname">
                    <input type="hidden" name="computer" id="computer">
                    <input type="hidden" name="hour" id="hour">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
